img {
  width: 100%;
  height: auto;
  display: block;
}

.navbar {
  margin-bottom: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.hero {
  margin-block: 100px;
  min-height: 10px;
}

.hero-text h3 {
  display: inline-block;
  position: relative;
  margin: 0 0 30px;
  z-index: 1;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.hero-text h3::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  background-color: #353535;
  height: 2px;
  bottom: 0;
}

.hero-text h3::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  background-color: var(--green);
  height: 2px;
  bottom: 0;
  animation: linje 1.5s ease-out forwards;
}

.portfolio-hero-image video {
  top: -100px;
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 0px;
  max-width: 560px;
  margin-inline: auto;
  transition: 0.5s;
}

.project {
  max-width: 95%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: start;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  transition: ease 0.8s;
  background: var(--background);
  padding: 20px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 10px rgba(84, 84, 84, 0.4);
  -webkit-box-shadow: 0 1px 10px rgba(84, 84, 84, 0.4);
  box-shadow: 0 1px 10px rgba(84, 84, 84, 0.4);
}

.project:hover {
  scale: 1.002;
}

.project h3 {
  font-size: 1.6rem;
  font-weight: 600;
  word-wrap: break-word;
  max-width: 38svw;
  margin-bottom: 0.1rem;
  text-align: left;
  color: white;
}

.project h4 {
  font-size: 0.9rem;
  color: #999;
  max-width: 300px;
  font-style: italic;
}

.case-number {
  color: var(--green);
  font-family: monospace;
  margin-bottom: 1rem;
}

.project-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  aspect-ratio: 1;
  overflow: hidden;
}

.project-images {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project-image img {
  align-self: stretch;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease 0.8s;
}

.project-images img:hover {
  scale: 1.07;
  transition: ease 0.8s;
}

.project-title {
  color: var(--green);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

.project-heading {
  margin-top: 30px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
}

.to-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
}

.project-description {
  font-family: monospace;
  color: #999;
  margin-block: 1rem;
  line-height: 1.2rem;
}

.view-button {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: var(--green);
}

footer {
  scroll-snap-stop: normal;
}

/** Link knap fra UIVerse **/

.tema-link {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 7px;
  padding-inline: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  min-width: 163px;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.tema-link:hover {
  background-color: #27b24c;
}

.tema-link:hover .button__icon-wrapper {
  color: #27b24c;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.tema-link:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.tema-link:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

/* Media querry til desktop */

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }

  .projects {
    gap: 3rem;
  }

  .project-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .project-heading a {
    position: relative;
    right: -30px;
  }

  .container {
    max-width: 1400px;
  }

  .projects {
    gap: 4rem;
    max-width: 100%;
  }

  .project {
    grid-template-columns: 400px 1fr auto;
    gap: 2rem;
    min-width: 1100px;
  }

  .project-image-container {
    max-width: 400px;
  }

  .project-description {
    max-width: 450px;
  }

  .view-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

/* Animationer */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
