/** Scroll snap animation **/
#navbar {
  flex-direction: row;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

.container {
  scroll-snap-align: start;
}

.container {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: contain;
  overflow: hidden;
}

.container div {
  width: 300px;
  height: auto;
  margin: 20px;
  background: #000000;
  color: white;
  overflow: hidden;
}

.container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  filter: brightness(80%);
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  margin-inline: auto;
  position: relative;
  line-height: 2.2rem;
}

.container h3 {
  color: var(--green);
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  display: inline-block;
  top: calc(40% - 25px);
  left: calc(60% + 10px);
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 50px;
  transform: scaleX(0);
}

/** Tilbage knap **/

.tilbage {
  position: fixed;
  top: 50px;
  display: flex;
  height: 40px;
  width: 150px;
  gap: 10px;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 0.3rem;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.tilbage svg {
  transition: all 0.4s ease-in;
  filter: invert();
}

.tilbage:hover svg {
  transform: translateX(-5px);
}

.tilbage:hover {
  scale: 1.02;
}
