img {
  width: 100%;
  height: auto;
  display: block;
}

article {
  background: var(--background);
  padding: 20px;
  border-radius: 10px;
}

.container {
  padding: 1rem;
  margin: 100px auto;
}

.container h3 {
  margin-block: 2rem;
}

.hero {
  margin-bottom: 100px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: start;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  transition: ease 0.8s;
}

.project:hover {
  scale: 1.02;
}

.project h3 {
  text-align: left;
}

.case-number {
  color: var(--green);
  font-family: monospace;
  margin-bottom: 1rem;
}

.project-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  aspect-ratio: 1;
  overflow: hidden;
}

.project-image img {
  align-self: stretch;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-title {
  color: var(--green);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

.project-description {
  font-family: monospace;
  color: #999;
}

.view-button {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Media querry til desktop */

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }

  .projects {
    gap: 6rem;
  }

  .project-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1400px;
  }

  .projects {
    gap: 4rem;
  }

  .project {
    grid-template-columns: 400px 1fr auto;
    gap: 2rem;
  }

  .project-image-container {
    max-width: 400px;
  }

  .project-description {
    max-width: 600px;
  }

  .view-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

/* Animationer */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
